.header {
    background: #ffffff;
    height: 10vh;
}

.header__inner {
    height:100%;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    align-items: center;
}

.header__inner__logo {
    padding:0 50px;
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    /* align-items: center; */
}

.header-nav {
    display: flex;
    list-style: none;
    padding:0 20px;
}

.header-nav__item a {
    padding: 0 30px;
}

.header-nav__link {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.header-nav__button {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 0 30px;
}

.main {
    background: #f5f5f5;
}

.footer {
    background: #ffffff;
    height: 5vh;
    text-align: center;
}

.footer__inner {
    height: 100%;
    align-items: center;
    margin: auto 0;
}

.footer__inner__logo {
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.form__error {
    font-size: 12px;
    /* font-weight: bold; */
    color: rgb(255, 0, 0);
}